{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container">
        <div id="container">
            <form id="calculator">
                <div class="col-xl-12">Input:</div>
                <textarea id="input" name="input" class="col-xl-12" ></textarea>
                <input type="button" id="send" value="Wyślij" class="col-xl-12" />
            </form>

            <div>
                <div>
                    Output:
                </div>
                <pre id="output">

                </pre>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #input {height: 240px;}
    #output{ color: #a94442;}
    form {margin-bottom: 50px;}
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $( "#send" ).click(function( event ) {
        $.ajax({
            url: "api/calculate",
            method: "POST",
            data: $("#calculator").serializeArray()
        }).done(function(msg) {
            $( "#output" ).text( msg.data instanceof Array ? function () {
                var output = '';
                for(var item in msg.data){
                    var key = Object.keys(msg.data[item])[0];
                   output += key + ' => ' + msg.data[item][key] + "\n";
                }

                return output;
            }() : msg.data);
        });

        event.preventDefault();

    });
    </script>

{% endblock %}